*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 body{
   background: #fff;
 }
#header{
  width: 100%;
  background-color: #ffff;
  height: 60px;
  box-shadow: 0px 0px 4px 0px #000;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

#containerInput{
  justify-content: center;
  display: flex;
  align-items: center;
}
#containerInput>input{
  max-width: 800px;
  width: 600px;
  height: 35px;
  border-radius: 4px;
  border:  2px solid red;
  padding-left: 10px;
}


#container{
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  /* background-color: red; */
  margin: 0 auto;
  
}

#wrapper> ul{
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
  font-size: min(1.4rem, 5vw);
  font-weight: 600;
}
#wrapper> ul>li{
  display: flex;
 
}

#card-student>ul{
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
  font-size: min(1.4rem, 5vw);
  font-weight: 600;
}
table {
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Lato';
  font-size: min(1.4rem, 5vw);
margin-bottom: 30px;
  
}
table:nth-child(even) {
  background-color: #dddddd;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
 
}
.delete{
  background-color:rgb(207, 92, 92);
  color:#fff;
  cursor: pointer;
}
.edit{
  background-color:rgb(60, 60, 204);
  color:#fff;
  cursor: pointer;
}