
table {
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Lato';
  font-size: min(1.4rem, 5vw);
  margin-bottom: 30px;
  box-shadow: 10px 10px 5px rgb(51, 39, 39);
  
}
table:nth-child(even) {
  background-color: #dddddd;
}
table:first-child{
  margin-top: 100px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
 
}
.delete{
  background-color:rgb(207, 92, 92);
  color:#fff;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 2px solid #000; */
  border-radius: 4px;
}
.delete:hover{
  background-color:rgb(170, 10, 10); 
}
.edit{
  /* background-color:rgb(60, 60, 204); */
  color:#fff;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#8257e5;
  /* border: 2px solid #000; */
  border-radius: 4px;

}

.edit:hover{
  background-color:#5024b7;
}