#header{
  width: 100%;
  background-color: #ffff;
  height: 60px;
  box-shadow: 0px 0px 4px 0px #000;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

#containerInput{
  justify-content: center;
  display: flex;
  align-items: center;
}
#containerInput>input{
  max-width: 800px;
  width: 600px;
  height: 35px;
  border-radius: 4px;
  border:  2px solid red;
  padding-left: 10px;
}
